{% set edx_sandbox = salt['grains.filter_by']({
    'default': {
        'pkgs': [
          'git',
          'libmysqlclient-dev',
          'python2.7',
          'python-dev',
          'python-pip'
        ],
        'repo_path': '/tmp/edx_sandbox/configuration',
        'conf_file': '/tmp/edx_sandbox/edx-sandbox.conf',
        'ansible_env_config': {
          'SANDBOX_NAME': 'test-sandbox',
          'SANDBOX_ZONE': 'd.mitx.mit.edu',
          'EDX_REMOTE': 'https://github.com/edx/edx-platform.git',
          'EDX_BRANCH': 'master',
          'SSL_CERTIFICATE_PATH': 'secrets/tls/d.mitx-wildcard-cert.pem',
          'SSL_KEY_PATH': 'secrets/tls/d.mitx-wildcard-key.pem'
        },
        'config': {
            'key': 'value',
        },
    },
}, grain='os_family', merge=salt['pillar.get']('edx_sandbox:lookup'), base='default') %}
